<div class="banner-breadcum section">
  <div class="breadcrumb-image">
    <div class="container text-center">
      <h1>Ciao {{this.user.nome}}</h1>
      <div class="breadcrumbs-path">
        <button type="button" class="btn btn-info btn-lg mt-3" routerLink="/new-request">Fai una richiesta</button>
      </div>
    </div>
  </div>
</div>

<div class="container text-center my-3">
  <h2>Richieste Effettuate</h2>
</div>

<div class="container">
  <div class="alert alert-info">
    Non hai effettuato alcuna richiesta
  </div>
  
  <div class="card text-center" *ngFor="let richiesta of richieste; let i = index">
    <div class="card-header">
      Cerco un.. <strong>{{richiesta.professione}}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        Entro il <strong>{{richiesta.data}}</strong>
      </h5>
      <div>
        Dettagli: {{richiesta.descrizione}}
        <br>
        Indirizzo: {{richiesta.indirizzo}}
        <br>
        Budget: {{richiesta.prezzoMassimo}}
      </div>
    </div>
  </div>
</div>