.breadcrumb-image {
  background-image: url(https://www.bakaji.com/images/prodotti/Campanello-hotel-alberghi-rece_01817580.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 2rem;
  position: relative;
  width: 100%;
}

.breadcrumb-image::before {
  background: rgba(0, 0, 0, 0.50) none repeat scroll 0 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  z-index: 0;
}

.breadcrumb-image h1 {
  color: #ffffff;
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-transform: uppercase;
}

.breadcrumbs-path {
  color: #fff;
  margin-top: 8px;
  position: relative;
  z-index: 9;
}
