<div class="banner-breadcum section">
  <div class="row">
    <div class="breadcrumb-image" style="background-image: url(https://images.pexels.com/photos/544117/pexels-photo-544117.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);">
      <div class="container text-center">
        <h1>Benvenuto {{this.user.nome}}</h1>
        <div class="breadcrumbs_path">
          <a href="#">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container">
<button type="button" class="btn btn-info" routerLink="/new-request">
  Fai una richiesta
</button>
</div>
<br><br>

<div class="container" *ngIf="!empty">
  <div *ngFor="let richiesta of richieste; let i = index" class="row">
    <div  class="card text-center">
      <div class="card-header">
        Professione di: <strong>{{richiesta.professione}}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title"> Data di scadenza: <strong>{{richiesta.data}}</strong></h5>
        <div class="row text-center">
          <p class="card-text mx-auto">Descrizione: {{richiesta.descrizione}}
          <br>
         Via: {{richiesta.indirizzo}}
          <br>
          Prezzo massimo: {{richiesta.prezzoMassimo}} </p>
        </div>
        <br>
      </div>

    </div>
  </div>
  <!--
<br><br>
  <div *ngFor="let fornitore of fornitori; let i = index" class="row">
  <div  class="card text-center">
    <div class="card-header">
      {{fornitore.nome}}
    </div>
    <div class="card-body">
      <h5 class="card-title"> <strong>{{fornitore.nomeProfessione}}:</strong></h5>
      <div class="row">
        <p class="card-text"> {{fornitore.descrizione}} </p>
        <br>
        <br>
        <p class="card-text"> {{fornitore.email}} </p>
      </div>
      <br>
      <button type="button" class="big-btn btn-info" routerLink="/new-request/{{i}}">
        Fai una richiesta
      </button>
    </div>

  </div>
    <br>
  </div>-->
</div>
