<div class="main-banner">
  <div class="container">
    <div class="main-text">
      Service Advisor ti aiuta a trovare
      professionisti nella tua zona
    </div>
    <button class="big-btn" routerLink="/signup">
      Registrati Subito
    </button>
  </div>
</div>

<div class="search-bar centered">
  <div class="container">
    <form class="flex-row">
      <input type="search" placeholder="Idraulici, ..." style="flex-grow:1">
      <button class="search-button">Cerca</button>
    </form>
  </div>
</div>

<div style="background: rgb(230,230,220)">
  <div class="container">
    <ul class="vendors-list">
      <li *ngFor="let richiesta of richieste; let i = index">
        <div class="profile-image"><img src="https://p13.zdassets.com/hc/theme_assets/635509/200101395/GetStarted.png" style="width: 125px"/></div>
         <span class="profile-content" style="width: 100%">
                   <div style="background: #c2ecc3; width: 100%; padding: 5px">
                   Richiesta
                  </div>
            <br />
            {{richiesta.descrizione}}
            <br />
            <br />
            Prezzo massimo:{{richiesta.prezzoMassimo}}
        </span>
      </li>
    </ul>
  </div>
</div>
