<div class="container">
  <div class="row">
    <!--div class="col-6">
    <form class="form" #form="ngForm" (ngSubmit)="searchOnMap()" >
      <div class="form-content">
          <label for="via">Via:</label>
          <input id="via" type="text" class="form-control" name="via" [(ngModel)]="place.via" placeholder="Enter Address"
                 required>
        <label for="paese">Paese:</label>
          <input id="paese"type="text" class="form-control" name="paese" [(ngModel)]="place.paese" placeholder="Enter City"
                 required>
        <label for="nazione">Nazione:</label>
          <input id="nazione" type="text" class="form-control" name="nazione" [(ngModel)]="place.nazione" placeholder="Enter Nation"
                 required>
        <label for="numeroCivico">Numero Civico:</label>
          <input id="numeroCivico" type="number" class="form-control" name="numeroCivico" [(ngModel)]="place.numeroCivico" placeholder="Enter civic number"
                 required>
        <label for="raggio">Raggio:</label>
          <input id="raggio" type="number" class="form-control" name="radius" [(ngModel)]="radius" placeholder="Enter radius"
                 required>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Search on map</button>
      </div>
    </form>
    </div-->
    <!--div class="col-6"-->

    <div id="mappa" #gmap></div>

    <!--/div-->
  </div>
</div>
