<div class="main-banner">
  <div class="container">
    <div class="main-text">
      Service Advisor ti aiuta a trovare
      professionisti nella tua zona
    </div>
    <button class="big-btn" routerLink="/signup">
      Registrati Subito
    </button>
  </div>
</div>
<br />
<br />
<div class="centered">
  <h1>Come funziona</h1>
  <br />
    <span style="font-size: 22px">
      Tramite Service Advisor clienti e professionisti possono
      entrare in contatto e concludere affari in brevissimo tempo...
    </span>
  <br />
  <br />
  <img src="http://accessalento.it/images/costruzione.png"/>
</div>
