#modals-container {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
}

#modals-container.visible {
    visibility: visible;
}
