<div id="modals-container">

  <!-- modal per effettuare l'accesso -->
  <div class="modal" data-name="login">
      <header>
          <span>Accedi</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <form id="login-form">
              <label for="username">Nome Utente</label>
              <input type="text" name="username" placeholder="Nome o Email">

              <label for="password">Password</label>
              <input type="password" name="password" placeholder="Password">
              
              <input type="submit" value="Accedi" class="big-btn">
          </form>
          <div class="centered">
              <span class="separator">oppure</span>
              <button class="sign-with-google">
                  <span style="font-family:Verdana;font-weight:bold">G&nbsp;</span>
                  Accedi con Google
                  </button>
              <button class="sign-with-facebook">
                  <span style="font-family:Verdana;font-weight:bold">f </span>
                  Accedi con Facebook
              </button>
          </div>
      </div>
  </div>

  <!-- modal di registrazione per utente NON professionista -->
  <div class="modal" data-name="signup">
      <header>
          <span>Registrazione</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <form id="signup-form">
              <label for="username">Indirizzo E-mail</label>
              <input type="email" name="email" placeholder="E-mail">
              
              <label for="username">Nome Utente</label>
              <input type="text" name="username" placeholder="Nome">

              <label for="password">Password</label>
              <input type="password" name="password" placeholder="Crea una password">

              <label for="password2">Ripeti Password</label>
              <input type="password" name="password2" placeholder="Ripeti la password">
              
              <input type="submit" value="Registrati" class="big-btn">
          </form>
          <div class="centered">
              <span class="separator">oppure</span>
              <button class="sign-with-google">
                  <span style="font-family:Verdana;font-weight:bold">G </span>
                  Registrati con Google
                  </button>
              <button class="sign-with-facebook">
                  <span style="font-family:Verdana;font-weight:bold">f </span>
                  Registrati con Facebook
              </button>
          </div>
      </div>
  </div>

  <!-- modal per creare una nuova richiesta -->
  <div class="modal" data-name="new-request">
      <header>
          <span>Nuova richiesta</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <form id="new-request-form" class="form-vertical">
              <label for="service">Che tipo di servizio?</label>
              <select name="service"></select>

              <label for="address">Dove ti serve?</label>
              <input type="text" name="address" placeholder="Indirizzo">

              <label for="duration">Quando ti serve?</label>
              <select name="duration">
                  <option>entro pochi giorni</option>
                  <option>entro un mese</option>
                  <option>non lo so</option>
              </select>

              <label for="descr">Descrivi il problema</label>
              <textarea name="descr"
                  placeholder="..."
                  rows="5"
                  cols="30"></textarea>

              <input type="submit" value="Crea" class="big-btn">
          </form>
      </div>
  </div>

  <!-- modal visualizzazione richieste effettuate -->
  <div class="modal" data-name="user-requests">
      <header>
          <span>Le mie richieste</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <ul id="requests-list" class="unstyled"></ul>
      </div>
  </div>

  <!-- modal impostazioni account utente -->
  <div class="modal" data-name="user-settings">
      <header>
          <span>Impostazioni</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <ul class="unstyled">
              <li onclick="open_modal('user-change-password')">Modifica Password</li>
              <li>...</li>
              <li>Opzione n</li>
          </ul>
      </div>
  </div>

  <!-- modal di modifica password -->
  <div class="modal" data-name="user-change-password">
      <header>
          <span>Modifica Password</span>
          <button class="close-modal">&times;</button>
      </header>
      <div class="content">
          <form id="change-password-form">
              <label>Password Attuale</label>
              <input type="password" name="oldPass">
              <label>Nuova Password</label>
              <input type="password" name="newPass1">
              <label>Ripeti Password</label>
              <input type="password" name="newPass2">

              <input type="submit" class="big-btn" value="Conferma">
          </form>
      </div>
  </div>
</div>
