nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color1);
    color: #FFF;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    z-index: 1;
}

nav > button {
    border: none;
    background: var(--color1);
    color: #FFF;
    font-size: 24px;
    height: 49px;
    min-width: 50px;
}

nav > button:hover {
    background: var(--color2);
}

nav > button:active {
    background: var(--color3);
}

/* Side Menu */
.side-menu-backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    overflow: hidden;
}

.side-menu-backdrop.visible {
    display: block;
}

.side-menu {
    position: absolute;
    left: -250px;
    top: 0px;
    bottom: 0;
    width: 250px;
    background: #FFF;
    transition: left 250ms ease-out;
    z-index: 21;
}

.side-menu.visible {
    left: 0px;
}

.close-menu-button {
    border: none;
    background: #FFF;
    font-size: 24px;
    color: #222;
    min-width: 50px;
    height: 50px;
}

.close-menu-button:hover {
    background: #EEE;
    cursor: pointer;
}

.close-menu-button:active {
    background: #DDD;
}

.side-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
}

.side-menu ul li {
    padding: 16px;
    font-size: 20px;
    border-top: solid 1px #DDD;
}

.side-menu ul li:last-child {
    border-bottom: solid 1px #DDD;
}

.side-menu ul li:hover {
    background: #EEE;
}

.side-menu ul li:active {
    background: #DDD;
}

