.main-banner {
    background: rgb(0, 25, 60);
    color: rgb(250, 250, 250);
    background: linear-gradient(0deg, #DFD, #FFF);
    color: #222;
    min-height: 8em;
    text-align: left;
    padding: 50px 10px;
}

.main-banner .main-text {
    font-weight: bold;
    font-size: 44px;
    max-width: 600px;
    margin-bottom: 12px;
}

div.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.search-bar {
    border-top: solid 1px #AAA;
    border-bottom: solid 1px #AAA;
    padding: 4px;
    background: #FFF;
    display: flex;
    flex-direction: row;
}

.search-bar .search-text {
    background: #FFF;
    border: solid 1px #888;
    padding: 4px 8px;
    border-radius: 0;
    margin: 0;
    font-size: 18px;
    height: 35px;
    vertical-align: middle;
    flex-grow: 1;
}

.search-button {
    border: none;
    background: var(--color1);
    border:solid 1px var(--color1);
    padding: 4px 8px;
    font-size: 18px;
    height: 35px;
    vertical-align: middle;
    color: #FFF;
}

.search-button:hover {
    background: var(--color2);
}

.search-button:active {
    background: var(--color3);
}

ul.vendors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    align-content: space-around;
    display: block;
    min-height: 400px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    list-style-type: none;
}

ul.vendors-list > li {
    background: #FFF;
    border: solid 1px #AAA;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 8px;
    min-width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: background 200ms;
}

ul.vendors-list > li:hover {
    background: #E8E8E8;
    cursor: pointer;
}

ul.vendors-list > li > span {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}


#mappa{
  width: 100%;
  height: 500px;
}
