.banner1 {
  padding: 7rem 2rem;
  background: linear-gradient(180deg, #FFF, #F0E0D0);
  color: #664;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.job-card {
  background: #FFF;
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  text-align: center;
}

.job-card:hover {
  background: #EEE;
}

.example1 {
  background-image: url(/assets/res/elettricista.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.example2 {
  background-image: url(/assets/res/gommista.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.example3 {
  background-image: url(/assets/res/idraulico.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

