<div class="banner1">
  <div class="container">
    <h1>
      Ti aiutiamo a trovare professionisti nella tua zona
    </h1>
    <button type="button" class="btn btn-info" routerLink="signup" *ngIf="auth.userType==userType.Guest">
      Registrati Subito
    </button>
  </div>
</div>

<div class="jobs-container" >
  <div class="job-card" routerLink="/search" [queryParams]="{q:'elettricista'}">
    <div style="padding: 15px;">
        <img src="/assets/res/electric1.png" style="width: 100px; height: 100px; opacity: 0.7">
    </div>
    <div style="font-size: 24px; color: #666;">
      Elettricisti
    </div>
  </div>

  <div class="job-card" routerLink="/search" [queryParams]="{q:'gommista'}">
    <div style="padding: 15px;">
        <img src="/assets/res/tire1.png" style="width: 100px; height: 100px; opacity: 0.7">
    </div>
    <div style="font-size: 24px; color: #666;">
      Gommisti
    </div>
  </div>
    
  <div class="job-card" routerLink="/search" [queryParams]="{q:'idraulico'}">
    <div style="padding: 15px;">
        <img src="/assets/res/pipe1.png" style="width: 100px; height: 100px; opacity: 0.7">
    </div>
    <div style="font-size: 24px; color: #666;">
      Idraulici
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-12">
    <div id="carouselIndicators" class="carousel slide"
          data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="example1"></div>
        </div>
        <div class="carousel-item">
          <div class="example2"></div>
        </div>
        <div class="carousel-item">
          <div class="example3"></div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators"
          role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators"
         role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
-->


