<div class="banner-breadcum section">
  <div class="row">
    <div class="breadcrumb-image"
         style="padding-bottom: 45px;background-image: url(http://img.r101.it/bin/news/53.$plit/C_22_news_3247_upiFotoApertura.jpg);">
      <div class="container text-center">
        <h1>Ciao {{this.user.nome}}</h1>
        <div class="breadcrumbs_path">
          <button type="button" class="btn btn-info btn-lg mt-3" routerLink="/new-request">Inserisci un servizio
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-googlelinecharts style="margin: 0 auto"></app-googlelinecharts>
  </div>
</div>
<div class="container">
  <h2>Preventivi inviati</h2>
</div>
<hr>
<div class="container" *ngIf="empty">
  <div class="col">
    <h3>Non hai ancora inviato nessun preventivo.</h3>
  </div>
</div>

<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
    <ngb-panel title="Preventivo #{{i+1}}" *ngFor="let offerta of offerte; let i = index">
      <ng-template ngbPanelContent>
        <h5>Richiesta cliente</h5>
        <p>Preventivo per offerta: {{offerta.richiesta.descrizione}}</p>
        <p>Prezzo massimo: {{offerta.richiesta.prezzoMassimo}}</p>

        <h5>Offerta inviata</h5>
        <p>Note: {{offerta.descrizione}}</p>
        <p>Offerta: {{offerta.prezzo}}</p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<!--div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><app-googlelinecharts [data]="data1" [config]="config1" [elementId]="elementId1"></app-googlelinecharts></div>
      <div class="divTableCell"><app-googlecharts [data]="data2" [config]="config2" [elementId]="elementId2"></app-googlecharts></div>
    </div>
  </div>
</div-->


