<form id="signup-form">
  <label for="username">Indirizzo E-mail</label>
  <input type="email" name="email" placeholder="E-mail">
  
  <label for="username">Nome Utente</label>
  <input type="text" name="username" placeholder="Nome">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Crea una password">

  <label for="password2">Ripeti Password</label>
  <input type="password" name="password2" placeholder="Ripeti la password">
  
  <input type="submit" value="Registrati" class="big-btn">
</form>
