<form class="form" (submit)="submit($event)">
  <br>
  <select name="type" [(ngModel)]="type">
    <option value="{{userType.Client}}">Cliente</option>
    <option value="{{userType.Vendor}}">Fornitore</option>
  </select>

  <label for="type">Tipo di account</label>
  <select id="type" name="type" [(ngModel)]="type">
    <option [value]="userType.Client">Cliente</option>
    <option [value]="userType.Vendor">Fornitore</option>
  </select>

  <div *ngIf="type==userType.Vendor">
    <label for="professione">Professione</label>
    <select (change)="onChange($event)" id="professione" name="professione" [(ngModel)]="professione">
      <option *ngFor="let job of jobs.getAll()" value="{{job.id}}">{{job.nome}}</option>
    </select>


    <!--
        <div *ngIf="professione">

            <label for="servizi">Servizi offerti</label>
            <select id="servizi" name="servizi" multiple [(ngModel)]="jobs">
              <option *ngFor="let pippo of listServizi" value="{{pippo.id}}">{{pippo.descrizione}}</option>
            </select>
          </div>
        </div>



        <label for="username">Indirizzo E-mail</label>
        <input id="username" type="email" name="email" placeholder="E-mail" [(ngModel)]="email">

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Crea una password" [(ngModel)]="pass1">


        <label for="password2">Ripeti Password</label>
        <input id="password2" type="password" name="password2" placeholder="Ripeti la password" [(ngModel)]="pass2">
    -->
    <input type="submit" value="Registrati" class="big-btn" [attr.disabled]="!validate()">

    <!--<span class="separator">oppure</span>-->
    <button type="button" class="sign-with-google" hidden="true">
      <span style="font-family:Verdana;font-weight:bold">G </span>
      Registrati con Google
    </button>
    <button type="button" class="sign-with-facebook" hidden="true">
      <span style="font-family:Verdana;font-weight:bold">f </span>
      Registrati con Facebook
    </button>
  </div>
</form>
