<div style="height: 16px"></div>
<form class="form" (ngSubmit)="submit(f)" #f="ngForm">
    <header>
        Nuova Richiesta
    </header>

    <div class="form-content">
        <label for="job">Che tipo di professionista?</label>
        <select id="job" name="job" class="form-control" ngModel>
            <option *ngFor="let job of jobs.getAll()" [value]="job.nome">
                {{job.nome}}
            </option>
        </select>

        <label for="address">Dove ti serve?</label>
        <input id="address" type="text" name="address" placeholder="indirizzo" class="form-control" ngModel>
      <label for="prezzoMassimo">Prezzo massimo da spendere</label>
      <input id="prezzoMassimo" type="number" name="prezzoMassimo" placeholder="prezzoMassimo" class="form-control" ngModel>
        <label for="data">Quando ti serve?</label>
      <input type="date" id="data" name="data" class="form-control" ngModel>

      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
nd        </button>
      </div>
      <!--select id="data" name="data" class="form-control" ngModel>
          <option>entro pochi giorni</option>
          <option>entro un mese</option>
          <option>non lo so</option>
      </select-->
        <label for="descrizione">Descrivi il problema</label>
     <!-- <input id="descrizione" type="text" name="descrizione" placeholder="descrizione" class="form-control" ngModel-->
        <textarea id="descrizione" name="descrizione"
            placeholder="scrivi di cosa hai bisogno..."
            rows="5"
            cols="30"
            class="form-control"
            ngModel></textarea>
    </div>

    <footer style="display:flex;justify-content: space-between">
      <input type="button" value="Annulla" class="btn btn-secondary" routerLink="/profile">
      <input [disabled]="!valid(f)" type="submit" value="Crea Richiesta" class="btn btn-info">
    </footer>
</form>

