<!--h1>{{ title }}</h1-->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<agm-map [zoom]="15"  [latitude]="45.4654666" [longitude]="9.2313484">
  <div  *ngFor="let fornitore of fornitori; let i = index">
  <agm-marker (markerClick)="clicked(fornitore.email)" [latitude]="fornitore.latit" [longitude]="fornitore.longit">
  <!--(click)="visited(fornitore.email)"-->
    <agm-snazzy-info-window [closeWhenOthersOpen]="true">
      <ng-template>
        <div style="text-align: center">
        <div style="font-size: 16px;margin-bottom: 6px">{{fornitore.nome}}</div>

        <div style="font-size: 16px; margin-bottom: 6px"><strong>{{fornitore.nomeProfessione}}</strong></div>

        <button (click)="richiesta(fornitore)" class="btn btn-info" style="font-size: 12px">Preventivo</button>
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
  </div>
</agm-map>
