<br>
<br>
<br>
<div class="container">
<!--app-mappa-agm></app-mappa-agm-->
</div>
  <br>
<br>
<br>
<!--app-payments></app-payments-->
<h2>{{title}}</h2>

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><app-googlecharts [data]="data1" [config]="config1" [elementId]="elementId1"></app-googlecharts></div>
      <!--div class="divTableCell"><app-googlecharts [data]="data2" [config]="config2" [elementId]="elementId2"></app-googlecharts></div-->
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
