div.hidden {
    display: none;
}

div.container {
    max-width: 600px;
    margin: 0 auto;
}

.button[disabled] {
    background: #AAA;
    color: #444;
}

.map-container {
    margin-top: 8px;
    height: 300px;
    overflow: hidden;
    border: solid 1px #AAA;
    box-shadow: 0 0 -2px rgba(0, 0, 0, 0.2);
}
