<!--FOOTER-->
<footer class="row">

  <div class="col-12 col-sm-4">
    <h4>Info</h4>
    <a routerLink="/">Chi siamo?</a><br>
    <a routerLink="/">Assistenza</a><br>
  </div>
  <div class="col-12 col-sm-4">
    <h4>Clienti</h4>
    <a routerLink="/">Come funziona?</a><br>
    <a routerLink="/">FAQ</a><br>
  </div>
  <div class="col-12 col-sm-4">
    <h4>Professionisti</h4>
    <a routerLink="/">Come funziona?</a><br />
    <a routerLink="/">Supporto</a>
  </div>

  <div class="col-12 col-sm-3">
    <!-- QUI CI VA IL LOGO-->
    <h4 style="font-weight: bold">Service Advisor</h4>
  </div>
  <div class="col-12 col-sm-9">
    <small>Service Advisor srl - P.IVA: 001234567890 | © 2018 - Tutti i diritti riservati</small>
    <br>
    <small>
      Sede legale: via non so 10-12, 20123 Milano (MI) | Sede operativa: via del Boh 25, 20124 Milano (MI)
    </small>
  </div>
</footer>
