<main>
  <!-- pagina di benvenuto -->
  <div class="panel" data-name="home">
      <div style="color:#444;min-height:8em;text-align:center;padding: 50px 0">
          <div style="font-weight:bold;font-size:30px; max-width: 600px;margin:0 auto;margin-bottom: 12px;">
              Service Advisor ti aiuta a trovare
              professionisti nella tua zona
          </div>
          <button class="big-btn" onclick="open_modal('signup')">
              Registrati Subito
          </button>
      </div>
  </div>

  <!-- pagina principale utente registrato -->
  <div class="panel" data-name="user">
      <div class="centered" style="padding: 100px 0;">
          <button class="big-btn" onclick="open_modal('new-request')">
              Ho Bisogno Di...
          </button>
      </div>
  </div>

  <!-- pagina principale professionista -->
  <div class="panel" data-name="work">
      
  </div>
</main>
