/* utils */
/*--------------------------------------------------*/

span.separator {
    display: block;
    border-bottom:solid 1px #CCC;
    color: #888;
    max-width: 80%;
    margin: 0px auto;
    margin-bottom:10px;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.perfect-centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row > * {
    flex-grow: 0;
}

.flex-spacer {
    flex-grow: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column > * {
    flex-grow: 1;
}

.rounded {
    border-radius: 100%;
}

.card {
    background: #FFF;
    border: solid 1px #DDD;
    box-shadow: 0 1px 4px rgb(40, 50, 50, 0.5);
    margin-bottom: 8px;
    border-radius: 2px; 
}


ul.unstyled, ol.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.unstyled li {
    font-family: 18px;
    padding: 16px;
    border-bottom: solid 1px #CCC;
    background: #FFF;
}

ul.unstyled li:hover {
    background: #EEE;
    cursor: pointer;
}


/*--------------------------------------------------*/
/*
Questo blocco consente di dichiarare variabili.
Per utilizzarle negli attributi CSS basta scrivere 
ad esempio: var(--color1)
*/
:root {
    --color1: #3F51B5;
    --color2: #3949AB;
    --color3: #303F9F;
}


/* main */
/*--------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #F9F9FA;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 6px;
    color: #222;
}


form {
    max-width: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

form > input, form > textarea, form > select {
    margin-bottom: 1em;
}

input, textarea, select {
    font-family: sans-serif;
    padding: 4px;
    border: solid 1px #AAA;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: box-shadow 300ms, border-color 300ms
}

input:hover, textarea:hover, select:hover {
    border-color: #3F51B5;
    box-shadow: 0 0 4px #3F51B5;
}

textarea {
    resize: none;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}


.big-btn {
    border: solid 2px var(--color1);
    background: #FFF;
    color: var(--color1);
    border-radius: 1em;
    padding: 6px 12px;
    font-size: 20px;
}

.big-btn:hover {
    background: var(--color1);
    color: #FFF;
}

.big-btn:active {
    background: var(--color3);
    color: #FFF;
}

/* social buttons */
/*--------------------------------------------------*/

.sign-with-facebook {
    border: none;
    background: #3F51B5;
    color: #FFF;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 1em;
    margin: 4px;
}

.sign-with-facebook:hover {
    background: #3949AB;
}

.sign-with-facebook:active {
    background: #303F9F;
}

.sign-with-google {
    border:none;
    background: #cf4332;
    color: #FFF;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 1em;
    margin: 4px;
}

.sign-with-google:hover {
    background: #c02010;
}

.sign-with-google:active {
    background: #b00000;
}


/* pannello di debug */
/*--------------------------------------------------*/
#panel-switcher {
    position: fixed;
    background: #334;
    color: #FFF;
    padding: 4px;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    left: 0;
    height: 99px;
    border-top: solid 1px #222;
    transition: bottom 300ms ease-in-out;
    z-index: 10000;
}

#panel-switcher.panel-switcher-hidden {
    bottom: -100px;
}

/*--------------------------------------------------*/


